.category-section {
  text-align: center;
  margin: 50px 20px;
}

.category-section h2 {
  font-size: 2.5rem;
  color: #ff6347;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
